1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a
file named test.txt.

In [ ]:
test1 =  'This is a test of the emergency text system,'
with open('test.txt','w') as f:
    f.write(test1)

In [5]:
with open('test.txt','r') as f1:
    print(f1.read())

This is a test of the emergency text system,

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?

In [6]:
with open('test.txt','r') as f1:
    test2 = f1.read()

In [7]:
print(test2)# There is no difference between the contents of test1 and test2

This is a test of the emergency text system,

3. Create a CSV file called books.csv by using these lines:title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Mi√©ville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007

In [16]:
import csv
data = [['The Weirdstone of Brisingamen','Alan Garner',1960],
       ['Perdido Street Station','China Mieville',2000],
       ['Thud!','Terry Pratchett',2005],
       ['The Spellman Files','Lisa Lutz',2007],
       ['Small Gods','Terry Pratchett',1992]]
with open('books.csv','w',newline='') as c:
    w = csv.writer(c)
    w.writerows(data)
with open('books.csv','r') as b:
    print(b.read())

The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Mieville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).

In [17]:
import sqlite3

In [18]:
db = sqlite3.connect("books.db")

In [19]:
c = db.cursor()

In [20]:
c.execute('create table books(title text ,author text, year real)')

5.Read books.csv and insert its data into the book table.

In [38]:
file = open('books.csv')
contents = csv.reader(file)

<_csv.reader object at 0x0000012AA8DEB0A0>

In [39]:
insert = "insert into books (title,author,year) values(?,?,?)"
c.executemany(insert,contents)

In [41]:
r = c.execute('select * from books')
for i in r:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960.0)
('Perdido Street Station', 'China Mieville', 2000.0)
('Thud!', 'Terry Pratchett', 2005.0)
('The Spellman Files', 'Lisa Lutz', 2007.0)
('Small Gods', 'Terry Pratchett', 1992.0)

6.Select and print the title column from the book table in alphabetical order.

In [50]:
c.execute(' select title from books order by title asc')

In [51]:
c.fetchall()

[('Perdido Street Station',),
 ('Small Gods',),
 ('The Spellman Files',),
 ('The Weirdstone of Brisingamen',),
 ('Thud!',)]

7.From the book table, select and print all columns in the order of publication.

In [52]:
c.execute('select * from books order by year')

In [53]:
c.fetchall()

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960.0),
 ('Small Gods', 'Terry Pratchett', 1992.0),
 ('Perdido Street Station', 'China Mieville', 2000.0),
 ('Thud!', 'Terry Pratchett', 2005.0),
 ('The Spellman Files', 'Lisa Lutz', 2007.0)]

8.Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [57]:
import sqlalchemy 
conn = sqlalchemy.create_engine('sqlite:///books.db')

In [58]:
conn

Engine(sqlite:///books.db)

9.Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [59]:
pip install redis

Collecting redis
  Downloading redis-4.4.2-py3-none-any.whl (237 kB)
     -------------------------------------- 237.8/237.8 kB 2.9 MB/s eta 0:00:00
Collecting async-timeout>=4.0.2
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Installing collected packages: async-timeout, redis
Successfully installed async-timeout-4.0.2 redis-4.4.2
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import redis
conn = redis.Redis()
conn.hset('test',{'count':1,'name':'Fester Bestertester'})
conn.hgetall('test')

10. Increment the count field of test and print it.

In [ ]:
conn.hincrby('test', 'count', 1)
conn.hget('test', 'count')